<div class="control-bar">
  <div class="control-bar__content">
    <div class="control-bar__item">
      <label for="filter">Categories: </label>
      <select
        id="filter"
        ng-model="$ctrl.currentCategory"
        ng-options="option.Name.en for option in $ctrl.categoryList"
      ></select>
    </div>
    <div class="control-bar__item">
      <label for="on_page">Games on page: </label>
      <select
        id="on_page"
        ng-model="$ctrl.currentGameOnPage"
        ng-options="option for option in $ctrl.gameOnPage"
      ></select>
    </div>
    <div class="control-bar__item">
      <label for="sort">Sort by: </label>
      <select
        id="sort"
        ng-model="$ctrl.currentSort"
        ng-options="option.name for option in $ctrl.sorts"
      ></select>
    </div>
  </div>
</div>
