@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-wrapper {
  flex: 1 0 auto;
  background-color: #313131;
}

.content {
  margin: 20px 0;
  padding-left: 20px;
  flex-grow: 1;
}
.footer {
  padding: 20px 0;
  background-color: #0f173e;
  text-align: center;
  font-size: 14px;
  &__content {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
}
.footer-wrapper {
  flex: 0 0 auto;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.main {
  display: flex;
}

.header {
  background-color: #092d45;
  padding: 20px 0;
  &__content {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  &__link {
    font-size: 28px;
    font-weight: 700;
    color: #cecece;
    text-decoration: none;

    &_footer {
      font-size: 18px;
    }
  }
}
.game-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: 200px;
    height: 155px;
    padding: 10px;
  }
  &__footer {
    padding: 10px 0;
    text-align: center;
  }
  &__btn {
    background: none;
    color: $blue;
    font-size: 18px;
    min-width: 250px;
    border: 2px solid;
    cursor: pointer;
    padding: 10px;
    transition: all .5s;
    &:hover {
      color: #1f608b;
    }
  }
}

.game-card {
  position: relative;
  font-size: 0;
  height: 100%;
  &__title {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    -webkit-text-stroke: 1px #1d1d1d;
    -webkit-text-fill-color: #ffffff;
  }
  &__pic {
    object-fit: cover;
  }

  &__action-bar {

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

  }
  &__btn {
    color: $red;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.5s;
    -webkit-text-stroke: 1px #1d1d1d;
    -webkit-text-fill-color: $blue;
    padding: 3px 3px;
    margin-left: -7px;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid;
    }
  }
  &__like {
    -webkit-text-stroke: 2px $red;
    font-size: 35px;
    color: #4e4e4e;
    cursor: pointer;
    &:hover {
      color: #502323;
    }
    &.active {
      color: $red;
      -webkit-text-stroke: 1px #4e4e4e;
    }
  }
}
.control-bar {
  padding: 10px;
  &__content {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    margin-left: 50px;
    color: $blue;
    label {
      margin-right: 20px;
    }
    select {
      border: 2px solid $blue;
      min-width: 150px;
      color: $blue;
      background: none;
      padding: 3px;
    }
  }
}
